.cardAtores img {
    max-width: 175px;
    border-radius: 12px;
}

.nome-ator {
    font-weight: 700;
    font-size: 18px;
}

.nome-personagem {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #8C8C8C;
}

@media screen and (min-width: 320px) and (max-width: 650px) {

    .cardAtores img {
        max-width: 150px;
        border-radius: 12px;
    }

    .nome-ator{
        font-size: 16px;
    }

}