.card {

    /* max-width: 200px; */
    max-height: 450px;
    overflow: hidden;
    border-radius: 4px;
}

.card img {
    display: inline-block;
    width: 100%;
    min-height: 299px;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.info-card {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
}

.titulo-cards {
    margin: 1rem 0rem;

    
}

.titulo-card {
    line-height: 103%;
    font-weight: 700;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.genero-card, 
.avaliacao-card {
    font-size: 0.75rem;
    font-weight: 600;
    color: #8C8C8C;
}

@media screen and (min-width: 1125px) {

    .card img {
        min-height: 325px;
    }
}


.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(203, 11%, 85%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-destaque {
    background-color:#dadada;
}



.skeleton-text {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.skeleton-titulo-destaque{
    height: 1.3rem;
    max-width: 30%;
}

.skeleton-text__body {
    width: 75%;
}

.skeleton-text-classificacao-destaque{
    width: 10%;
    height: 0.5;
}

.skeleton-text-classificacao{
    width: 30%;
    height: 0.5;
}

.skeleton-footer {
    width: 30%;
}
.skeleton-titulo-card{
    height: 1em;
}