.header {

    color: #FFFFFF;

}

@media screen and (min-width: 320px) and (max-width: 650px) {

    .header {

        padding: 1em 2em;
        gap: 1em;

    }

}

@media screen and (min-width: 650px) and (max-width:1024px){
  .header{
    padding: 1em 3em;
  }

}

@media screen and (min-width: 1024px) {
    .header{
        padding: 1em 5em;
    }

}

@media screen and (min-width: 319px) and (max-width: 426px) {

    .header {

        padding: 0em 2em;
        color: #FFFFFF;
        gap: 1em;

    }

}