.body {
    height: 80vh;
    padding: 2em 3em;
}

.titulo-elenco {
    font-size: 1.5em;
    font-weight: 700;
}

.cards-elenco {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 2em 0em;
}

.cards-elenco::-webkit-scrollbar {
    height: 6px;

}

.cards-elenco::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 12px;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
    .body {
        padding: 2em;
    }
    .titulo-elenco{
        font-size: 20px;
    }
    .cards-elenco{
        margin: 1em 0em;
    }
}