

.resultados {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
    margin: 2em 0em;

}


.titulo {
    font-weight: 700;
    font-size: 1.5rem;
    /* margin: 2em 0em; */
}